.admin-container {
  padding: 30px;
  background-color:  #f5f7fa;
  min-height: 100vh;
}

.admin-actions button {
  margin: 10px 10px 20px 0;
  padding: 10px 18px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.admin-slot-fetch {
  margin-top: 30px;
  padding: 15px;
  border-top: 1px solid #ccc;
}

.admin-slot-fetch input {
  padding: 6px;
  margin-right: 10px;
}

.admin-slot-fetch button {
  padding: 6px 12px;
  background-color: #198754;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-slot-fetch .status {
  margin-top: 10px;
  font-weight: bold;
}


.admin-actions button:hover {
  background-color: #115293;
}

.admin-delete {
  margin-top: 20px;
}

.admin-delete input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.admin-section {
  margin-top: 30px;
}

.admin-section div {
  margin-bottom: 10px;
}

.status {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.admin-email {
  margin-top: 20px;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-email input,
.admin-email textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.admin-email button {
  padding: 10px;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.admin-email button:hover {
  background-color: #23527c;
}
