.app-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  background-color: #f9f9f9;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.header-emblem {
  height: 40px;
  width: 40px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
